<%- include('../partials/head.ejs') %>

	<div class="detail">
		<h1><%= id %></h1>
		<p>Vergelijk hoe vroeger (met posters) geuit werd wat de kwesties waren met hoe op dit moment via Social Media wordt gepraat over sociale of politieke problemen.</p>
		<div class="flex">
			<div class="images">

		<% for(var i = 0; i < posters.length; i++) {%>
			<%var amsterdam = posters[i].locationLabel.value.split('Amsterdam-').join('');
				var rapenburg = posters[i].locationLabel.value.split('Rapenburg').join('Centrum');
				var grachten = posters[i].locationLabel.value.split('grachtengordel van Amsterdam').join('Centrum');
				var pijp = posters[i].locationLabel.value.split('De Pijp').join('Zuid');

				if (posters[i].locationLabel.value.toLowerCase() == id || amsterdam.toLowerCase() == id || rapenburg.toLowerCase() == id || grachten.toLowerCase() == id || pijp.toLowerCase() == id) { %>

			<img src="<%= posters[i].img.value.replace("http", "https") %>"/>
			<div class="details">
					<p><%= posters[i].title.value %></p>
					<p><%= posters[i].subject.value %></p>
			</div>
				<% } %>
			<% } %>
			</div>
			<div class="tweets">
				<%- include('stadsdelen/' + id) %>
			</div>
		</div>
	</div>

	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<%- include('../partials/foot.ejs') %>
