<%- include('../partials/head.ejs') %>

	<h1>Posters</h1>
	<% for(var i = 0; i < posters.length; i++) {%>
		<%
			var amsterdam = posters[i].locationLabel.value.split('Amsterdam-').join('');
			var rapenburg = posters[i].locationLabel.value.split('Rapenburg').join('Centrum');
			var grachten = posters[i].locationLabel.value.split('grachtengordel van Amsterdam').join('Centrum');
			var pijp = posters[i].locationLabel.value.split('De Pijp').join('Zuid');
		%>
		<%if (posters[i].locationLabel.value.toLowerCase() == id || amsterdam.toLowerCase() == id || rapenburg.toLowerCase() == id || grachten.toLowerCase() == id || pijp.toLowerCase() == id) { %>

		<article>
			<header>
				<h1><%= posters[i].title.value %></h1>
				<img src="<%= posters[i].img.value%>"/>
				<p class="id"><%= id %> <p>
				<p class="posterslocation"><%= posters[i].locationLabel.value %><p>
			</header>
		</article>
		<% } %>
	<% } %>

	<section>
		<%- include('stadsdelen/' + id) %>
	</section>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<%- include('../partials/foot.ejs') %>
