<%- include('partials/head.ejs') %>

    <% for(var i=0; i < stadsdelen.length; i++) {%>
		<a href="/<%= stadsdelen[i].id%>">
      <button id="<%= stadsdelen[i].id %>">
        <%= stadsdelen[i].text %>
      </button>
		</a>
    <% } %>

<%- include('partials/foot.ejs') %>
